<div class="container-fluid">
    <h1>Login to your account</h1>
    
    <form #userSigninForm="ngForm" (ngSubmit)="onLoginSubmit()">
        <div class="form-group">
            <label for="">Email:</label>
            <input type="email" required pattern='^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{3,3})$' [class.is-invalid]='email.invalid && email.touched' #email='ngModel' class="form-control" name="email"  [(ngModel)]='scrumUserLoginData.email'>
            <div *ngIf="email.errors && email.touched">
                <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Invalid email pattern</small>
            </div>
        </div>
      
        <div class="form-group">
            <label>Password:</label>
            <input type="password" required pattern="^(?=.*?[a-zA-Z])(?=.*?[0-9])(?=.*?[^A-Za-z0-9]).{8,}$" 
            [class.is-invalid]='password.invalid && password.touched' #password='ngModel' class="form-control" name="password" [(ngModel)]='scrumUserLoginData.password'>
            <div *ngIf="password.errors &&  password.touched">
                <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
                <small class="text-danger" *ngIf="password.errors.pattern">Password must be atleast 8 characters long, one digit and one special character</small>
            </div>
        </div>
        <div class="form-group">
            <label>Project name:</label>
            <input type="text" required class="form-control" name="projname" #projname='ngModel' [(ngModel)]='scrumUserLoginData.projname'>
            <small class="text-danger" [class.d-none]="projname.valid || projname.untouched">Project name is required</small>
        </div>
        <h5>{{ feedbk }}</h5>
       <button class="btn btn-primary submit" [disabled]="userSigninForm.invalid" type="submit">Login</button>
    </form>
    <p>No account yet? <a routerLink="/signup">Signup</a></p>
</div>